.btn {
    padding: 8px 15px;
    font-size: $text-size-sm;
    color: $text-no-color;
    border: none;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px $shadow-color;
    @include settransition;

    &.btn-primary,
    &.btn-danger {
        &[disabled] {
            cursor: default;
            box-shadow: none;
        }
    }

    &.btn-primary {
        background: $button-primary;

        &[disabled] {
            background: lighten($button-primary, 20%);
        }
    }

    &.btn-danger {
        background: $button-danger;

        &[disabled] {
            background: lighten($button-danger, 20%);
        }
    }

    &.btn-accumulator {
        @include square-size(30px);
        padding: 0;
        vertical-align: 1px;
    }

    &-route {
        display: inline-block;
        padding: 10px 24px;
        font-size: $text-size-default;
        text-decoration: none;
    }

    &:hover {
        box-shadow: 0 4px 12px $shadow-color;
    }
}
