// table's styles
.table {
    width: 100%;
    margin-bottom: 40px;
    background: transparent;
    border: $border-width solid $border-color;
    border-collapse: collapse;
    table-layout: fixed;

    caption {
        margin: 10px 0;
        color: $text-secondary;
        text-align: left;

        h4 {
            font-weight: 400;
        }
    }

    tr {
        width: 100%;

        td,
        th {
            padding: 12px;
            color: $text-default;
            text-align: center;
            vertical-align: middle;
            border-top: $border-width solid $border-color;
            border-bottom: $border-width solid $border-color;
        }

        th {
            font-weight: bold;
            background: $table-header-bg-color;
        }
    }
}
