// base classes
$text-aligns: right, left, center;
$text-size-map:
                (sm, 12px),
                (nm, 14px),
                (md, 16px),
                (lg, 18px);
$text-color-map:
                (default, $text-default),
                (primary, $text-primary),
                (secondary, $text-secondary);
$margin-maps: (top, right, bottom, left);

html, body {
    width: 100%;
    font-family: Helvetica, sans-serif;
}

body {
    padding: 40px;
}

// set text color
// add !important to force set
@each $color-name, $color in $text-color-map {
    .text-#{$color-name} {
        color: $color !important;
    }
}

// set text size
// add !important to force set
@each $size-name, $size in $text-size-map {
    .text-size-#{$size-name} {
        font-size: $size !important;
    }
}

// set text alignment
// add !important to force set
@each $align in $text-aligns {
    .text-align-#{$align} {
        text-align: $align !important;
    }
}

@each $margin in $margin-maps {
    .margin-#{$margin} {
        margin-#{$margin}: $margin-default;
    }
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.no-text-decoration {
    text-decoration: none;
}
