// variables
$border-color: #eeeeee;
$table-header-bg-color: #c0c0c0;
$border-width: 1px;

$text-primary: #333333;
$text-secondary: #aaaaaa;
$text-no-color: #ffffff;

$button-primary: #29aeff;
$button-danger: #ff4e6c;
